---
import CraftNavigation from '@/components/craft/CraftNavigation.astro';
import CraftHead from '@/components/CraftHead.astro';
import Link from '@/components/Link.astro';
import PostNavigation from '@/components/PostNavigation.astro';
import { Button, buttonVariants } from '@/components/ui/button';
import { Separator } from '@/components/ui/separator';
import Layout from '@/layouts/Layout.astro';
import { getAllCrafts, getAdjacentCrafts, getCraftReadingTime } from '@/lib/data-utils';
import { Icon } from 'astro-icon/components';
import { render } from 'astro:content';

export async function getStaticPaths(){
  const crafts = await getAllCrafts()
  return crafts.map((craft) => ({
    params: { id: craft.id },
    props: { craft },
  }))
}

const { craft } = Astro.props;
const currentCraftId = Astro.params.id;
const { Content, headings } = await render(craft);
const navigation = await getAdjacentCrafts(currentCraftId);

const craftReadingTime = await getCraftReadingTime(currentCraftId);
---

<Layout class='max-w-2xl pt-10 px-4'>
  <CraftHead slot="head" craft={craft} />
  <div class="flex w-full justify-between items-center">
    <Link
      href="/craft"
      class={buttonVariants({ variant: 'secondary', size: "icon" }) + ' group rounded-full'}
    >
      <span class="transition-transform">
        &larr;
      </span>
      <span class="sr-only">Back</span>
    </Link>
    <Button
      variant="secondary"
      size="icon"
      className='rounded-full button-link grid place-items-center group'
      aria-label='Copy link'
    >
      <Icon name="lucide:link" class="size-4 [grid-area:_1/1] transition-all group-[.button-link-coppied]:opacity-0 group-[.button-link-coppied]:scale-50" />
      <Icon name="lucide:check" class="size-4 transition-all [grid-area:_1/1] opacity-0 scale-0 group-[.button-link-coppied]:opacity-100 group-[.button-link-coppied]:scale-100" />
      <span class="sr-only">Copy link</span>
    </Link>
  </div>
  <article class="prose col-start-2 max-w-none mt-10">
    <Content />
  </article>
  <Separator className='my-16'/>
  <CraftNavigation
    nextPost={navigation.newer}
    prevPost={navigation.older}
  />
</Layout>

<script>

  const buttonLink = document.querySelector('.button-link');

  if(buttonLink){
    buttonLink.addEventListener('click', () => {
      navigator.clipboard.writeText(window.location.href);
      buttonLink.classList.add('button-link-coppied');

      setTimeout(() => {
        buttonLink.classList.remove('button-link-coppied');
      }, 3000);
    })
  }
</script>