@import 'https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css';
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2850 0.0110 271);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2850 0.0110 271);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2850 0.0110 271);
  --primary: oklch(0.2850 0.0110 271);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9630 0.0030 325.6000);
  --secondary-foreground: oklch(0.2850 0.0110 271);
  --muted: oklch(0.9800 0.0020 325.6000);
  --muted-foreground: oklch(0.5420 0.0140 291);
  --accent: oklch(0.9320 0.0030 308.4000);
  --accent-foreground: oklch(0.2850 0.0110 271);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.9320 0.0030 308.4000);
  --input: oklch(0.8930 0.0030 308.4000);
  --ring: oklch(0.6180 0.0140 296.2000);
  --font-sans: Inter, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'Geist Mono', monospace;
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.1390 0.0030 246.3000);
  --foreground: oklch(0.9780 0.0010 197.1000);
  --card: oklch(0.2280 0.0060 285.9000);
  --card-foreground: oklch(0.9780 0.0010 197.1000);
  --popover: oklch(0.1913 0 0);
  --popover-foreground: oklch(0.9780 0.0010 197.1000);
  --primary: oklch(0.9780 0.0010 197.1000);
  --primary-foreground: oklch(0.1390 0.0030 246.3000);
  --secondary: oklch(0.2780 0.0070 285.9000);
  --secondary-foreground: oklch(0.9780 0.0010 197.1000);
  --muted: oklch(0.2280 0.0060 285.9000);
  --muted-foreground: oklch(0.649 0.015 262.4);
  --accent: oklch(0.2570 0.0060 286);
  --accent-foreground: oklch(0.9780 0.0010 197.1000);
  --destructive: oklch(0.5143 0.1978 16.9350);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.2645 0.0098 268.3063);
  --input: oklch(0.2645 0.0098 268.3063);
  --ring: oklch(0.2280 0.0060 285.9000);
  --radius: 0.5rem;
}

@theme inline {
  --font-sans:
    Geist, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius: var(--radius);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50 tracking-tight;
  }

  html {
    @apply bg-background text-foreground scheme-light;

    &.dark {
      @apply scheme-dark;
    }

    ::-webkit-scrollbar-corner {
      @apply bg-transparent;
    }
  }

  .disable-transitions * {
    @apply transition-none!;
  }
}

/* Craft components container */
.craft-item__container-outer{
  padding: 0.25rem;
  background: color-mix(in oklab, var(--color-muted) 10%, transparent);
  border-radius: calc(0.5rem + 0.25rem);
  border: 1px solid var(--color-border);
}
.craft-item__container{
  display: flex; 
  position: relative; 
  flex-direction: column; 
  gap: 2rem; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  min-height: 384px;
  color: var(--color-foreground);
  background: color-mix(in oklab, var(--color-muted) 5%, transparent);
  border-radius: 0.5rem;
  padding: 2rem;
  border: 1px solid var(--color-border);
}

.project-card:hover{
  background: color-mix(in oklab, var(--color-muted), transparent);
  transition: none;
}

.project-card{
  transition: all 0.2s cubic-bezier(.645, .045, .355, 1);
}