@import 'https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css';
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --background: oklch(0.9911 0 0);
  --foreground: oklch(0.3513 0.0242 288.3608);
  --card: oklch(0.9911 0 0);
  --card-foreground: oklch(0.3513 0.0242 288.3608);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0.3513 0.0242 288.3608);
  --primary: oklch(0.5447 0.2174 274.1872);
  --primary-foreground: oklch(0.9851 0 0);
  --secondary: oklch(0.9194 0.0027 286.3469);
  --secondary-foreground: oklch(0.3513 0.0242 288.3608);
  --muted: oklch(0.9789 0.0029 264.5421);
  --muted-foreground: oklch(0.5278 0 0);
  --accent: oklch(0.968 0.0059 239.8195);
  --accent-foreground: oklch(0.3513 0.0242 288.3608);
  --destructive: oklch(0.583 0.2387 28.4765);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8914 0 0);
  --input: oklch(0.8914 0 0);
  --ring: oklch(0.709 0 0);
  --font-sans: Inter, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'Geist Mono', monospace;
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.9674 0.0013 286.3752);
  --card: oklch(0.1913 0 0);
  --card-foreground: oklch(0.9674 0.0013 286.3752);
  --popover: oklch(0.1913 0 0);
  --popover-foreground: oklch(0.9674 0.0013 286.3752);
  --primary: oklch(0.9674 0.0013 286.3752);
  --primary-foreground: oklch(0.1448 0 0);
  --secondary: oklch(0.2739 0.0055 286.0326);
  --secondary-foreground: oklch(0.9674 0.0013 286.3752);
  --muted: oklch(0.2739 0.0055 286.0326);
  --muted-foreground: oklch(0.7118 0.0129 286.0665);
  --accent: oklch(0.2862 0.0054 286.0525);
  --accent-foreground: oklch(0.9674 0.0013 286.3752);
  --destructive: oklch(0.5143 0.1978 16.9350);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.2739 0.0055 286.0326);
  --input: oklch(0.2739 0.0055 286.0326);
  --ring: oklch(0.5641 0.1565 274.0007);
  --radius: 0.5rem;
}

@theme inline {
  --font-sans:
    Geist, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius: var(--radius);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50 tracking-tight;
  }

  html {
    @apply bg-background text-foreground scheme-light;

    &.dark {
      @apply scheme-dark;
    }

    ::-webkit-scrollbar-corner {
      @apply bg-transparent;
    }
  }

  .disable-transitions * {
    @apply transition-none!;
  }
}
