---
import { Separator } from '@/components/ui/separator'
import { SOCIAL_LINKS } from '@/consts'
import Link from './Link.astro'
import SocialIcons from './SocialIcons.astro'
import ThemeToggle from './ThemeToggle.astro'
---

<footer class="py-2 w-full bg-popover border-t z-10 relative mt-10">
  <div
    class="mx-auto flex max-w-2xl flex-col items-center justify-center gap-y-2 px-4 sm:flex-row sm:justify-between"
  >
    <div class="flex flex-wrap items-center justify-center gap-x-2 text-center">
      <span class="text-muted-foreground text-sm">
        &copy; {new Date().getFullYear()} Cristhian F.
      </span>
    </div>
    <!-- <SocialIcons links={SOCIAL_LINKS} /> -->
     <ThemeToggle />
  </div>
</footer>
