---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { useTranslations } from '@/i18n'
import { LOCALES, type Lang } from '@/i18n/types'
import Layout from '@/layouts/Layout.astro'
import { cn } from '@/lib/utils'

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);

---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="404" />
  <Breadcrumbs items={[{ label: '???', icon: 'lucide:circle-help' }]} />

  <section
    class="flex flex-col items-center justify-center gap-y-4 text-center"
  >
    <div class="max-w-md">
      <h1 class="mb-4 text-3xl font-medium">
        {t({
          en: '404: Page not found',
          'pt-br': '404: Página no encontrada',
        })}
      </h1>
      <p class="prose">
        {t({
          en: "Oops! The page you're looking for doesn't exist.",
          'pt-br': "Oops! A página que vocês procuram não existe.",
        })}
        </p>
    </div>
    <Link
      href="/"
      class={cn(buttonVariants({ variant: 'outline' }), 'flex gap-x-1.5 group')}
    >
      <span class="transition-transform group-hover:-translate-x-1">&larr;</span
      > 
        {t({
          en: "Go to home page",
          'pt-br': "Ir para página inicial",
        })}

    </Link>
  </section>
</Layout>
